<div class="row">
  <div class="col-sm-12">
    <div class="row">
      <div class="col-md-4">
      <span class="label label-info pull-right">Credit Card</span>
        <div class="well">
          <p class="text-info">Get the financial freedom you deserve. Credit cards offer rewards, services and spending power that can help make your financial and personal dreams come true.A Mastercard credit card for everyday purchases - stores, online and even places that don't accept cash or cheques. Your Mastercard gives you the freedom to support the lifestyle you choose.Pay only for purchases which you have authorized on your Mastercard. Unauthorized purchases are not your responsibility.onditions
			and exceptions apply.Get emergency assistance virtually anytime, anywhere and in any language. Mastercard Global Service helps you with reporting a lost or stolen card, obtaining an emergency card replacement or cash advance, finding an ATM and answering questions on your account
			</p>
        </div>
      </div>
      <div class="col-md-4">
      <span class="label label-info pull-right">Debit Card</span> 
        <div class="well">
          <p class="text-info">Enjoy the ultimate in convenience and financial control by combining the worldwide acceptance and benefits of Mastercard cards with direct deduction of funds from your savings/current account.Using a Debit Mastercard to manage your finances is more convenient than using checks as funds are immediately deducted from your checking account. Having an electronic record of every transaction not only saves time but helps keep a live track of what you spend.Debit Mastercard is accepted at millions of merchant locations worldwide, including restaurants, hotels and online retailers. You can even use Debit Mastercard to automatically pay monthly bills.Whether you use Debit Mastercard to shop online, by phone or in a store, every purchase is backed by Zero Liability Protection*.</p>
        </div>
      </div>
      <div class="col-md-4">
      <div><span class="label label-info pull-right">Prepaid Card</span>
        </div>
        <div class="well">
          <p class="text-info">Use Mastercard Prepaid Cards wherever Mastercard debit cards are accepted. Just load a prepaid card with funds and use it for all your needs—from everyday buys to travel purchases.Use the Mastercard Prepaid Card for all of the things you pay for with cash. Whether you want to shop, pay bills or manage your spending more effectively, prepaid cards will give you a simple, effective and easier way to use and manage your money.With Mastercard Prepaid Card, you can enjoy the convenience and ease of cashless transactions — without the need for a credit check or bank account.When you register your Mastercard Everyday Prepaid Card, Zero Liability protects you from unauthorized purchases if your card is lost or stolen. You can't say that about cash.Use your Mastercard prepaid card to pay bills and manage expenses</p>
        </div>
      </div>
    </div>  
  </div>
</div>