<div class="text-center">
	 <h3>Candidate Information:</h3>
    <form class="form-horizontal" ng-submit="submitCandidateForm(candidate)" role="form">
        <div class="form-group">
            <label for="name" class="col-sm-3 control-label">Name</label>
            <div class="col-sm-6">
                <input type="text" id="name" class="form-control" ng-model="candidate.name" required />
            </div>
            <div class="col-sm-3"></div>

        </div>
        <div class="form-group">
            <label for="profession" class="col-sm-3 control-label">Profession</label>
            <div class="col-sm-6">
                <input type="text" id="profession" class="form-control" ng-model="candidate.profession" required />
            </div>
            <div class="col-sm-3"></div>
        </div>
        
        <div class="form-group">
            <label for="skill" class="col-sm-3 control-label">Skill</label>
            <div class="col-sm-2">
                <select class="form-control" id="skill" ng-model="candidate.skill" required>
                <option disabled selected value>Select</option>
                    <option ng-repeat="skill in form.skillSet" value="{{skill.value}}">{{skill.displayName}}</option>
                </select>
            </div>
            <div class="col-sm-7"></div>
        </div>

        <div class="form-group">
            <label for="experience" class="col-sm-3 control-label">Experience(Year)</label>
            <div class="col-sm-2">
                 <select class="form-control" id="exp" ng-model="candidate.exp" required>
                 <option disabled selected value>Select</option>
                    <option ng-repeat="exp in form.expData" value="{{exp.value}}">{{exp.displayName}}</option>
                </select>
            </div>
            <div class="col-sm-7"></div>
        </div>
        
        <div class="form-group">
            <label for="gender" class="col-sm-3 control-label">Gender</label>
            <div class="col-sm-2">
                 <select class="form-control" id="gender" ng-model="candidate.gender" required>
                 <option disabled selected value>Select</option>
                    <option ng-repeat="gender in form.genderData" value="{{gender.value}}">{{gender.displayName}}</option>
                </select>
            </div>
            <div class="col-sm-7"></div>
        </div>
        <div class="form-group">
        	<input type="submit" value="Save" class="btn btn-primary" /> 
        	<input type="reset" value="Reset" ng-click="resetForm()" class="btn" />
        </div>
    </form>
</div>