<div class="text-center">
	<div>
	<p>{{status}}</p>
		<table class="table table-striped text-left">
			<thead>
				<th>Name</th>
				<th>Profession</th>
				<th>Skill</th>
				<th>Experience(Years)</th>
				<th>Gender</th>
			</thead>
			<tbody>
			<tr ng-repeat="data in report.candidateInfo">
				<td>{{data.name}}</td>
				<td>{{data.profession}}</td>
				<td>{{data.skill}}</td>
				<td>{{data.exp}}</td>
				<td>{{data.gender}}</td>
			</tr>
			</tbody>
		</table>
	</div>
</div>